body{
	background:#EFEFEF;
	font-family:Arial, Tahoma;
}

/* Header */
.header{
	background:#333;
	color:#FFF;
	font-size:20px;
	text-align:center;
	padding:20px 0;
}

/*Content */
.content{
	text-align:center;
	padding:20px 0;
}

/* Caption text */
.text{
	color:#f2f2f2;
	font-size:15px;
	padding:8px 12px;
	position:absolute;
	bottom:8px;
	width:100%;
	text-align:center;
}

/* The dots */
.dot{
	height:15px;
	width:15px;
	margin:0 2px;
	background-color:#bbb;
	border-radius:50%;
	display:inline-block;
	transition: background-color 0.6s ease;
}

.active{background-color:#717171;}

/* Fadding animation */
.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade{
	from{opacity: .4}
	to{opacity:1}
}

@keyframes fade{
	from{opacity: .4}
	to{opacity:1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* Side bar Navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Side bar Navigation- Links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Side bar Navigation- Moving on links */
.sidenav a:hover {color: #f1f1f1;}

/* Side bar Navigation- Close */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Footer */
.footer{
	background:#333;
	color:#FFF;
	text-align:center;
	padding:10px;
	position:static;
}
